body {
    background: 'red';
}

.buttonstyle {
    color: red;
}

.buttonstyle:hover {
    color: blue;
}

.static-option-style {
    font-size: 6vh !important;
    color: white!important;
    opacity: 0.75;
}

.option-style {
    font-size: 6vh !important;
    animation: textshrink 0.2s;
    color: white!important;
    opacity: 0.75;
}

.option-style:hover {
    animation: textgrow 0.2s;
    animation-fill-mode: forwards;  
    color: white!important;
    opacity: 0.75;
}

.fade {
    animation: fadein 0.6s;
    animation-fill-mode: forwards;
    border-radius: 50%;
    width: 30vh;
}

.fade-out {
    animation: fadeout 1s;
    animation-fill-mode: forwards;
}

.disappear {
    animation: vanish 0.2s;
    animation-fill-mode: forwards;
}

.icon {
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    border-style: solid;
    background: white;
    font-size: 5vh;
}

.image-style {
    height: 15vw;
    padding-left: 2vw;
    opacity: 1 !important;
}

.for-move {
    padding-left: 10vh;
    padding-top: 10vh;
}

.to-move-projects {
    position: absolute;
    animation: moveP 1s;
    animation-fill-mode: forwards;
}

.move-back-projects {
    position: absolute;
    animation: moveBackP 1s;
    animation-fill-mode: forwards;
}

.to-move-overview {
    position: absolute;
    animation: moveO 1s;
    animation-fill-mode: forwards;
}

.move-back-overview {
    position: absolute;
    animation: moveBackO 1s;
    animation-fill-mode: forwards;
}

.to-move-experience {
    position: absolute;
    animation: moveE 1s;
    animation-fill-mode: forwards;
}

.move-back-experience {
    position: absolute;
    animation: moveBackE 1s;
    animation-fill-mode: forwards;
}

.fade-back {
    animation: fadein 2s;
    animation-fill-mode: forwards;
}

.icon:hover {
    border-radius: 50%;
    animation: icongrow 0.2s;
    animation-fill-mode: forwards;
}

.icon-text {
    padding-top: 12vh;
    padding-bottom: 12vh;
    border-style: solid;
}

.icon-text:hover {
    border-style: solid;
    animation: icontextgrow 0.2s;
    animation-fill-mode: forwards;
}

.option {
    border-radius: 50%;
    opacity: 0.75;
    width: 30vh;
}

.small-option {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    width: 10vh;
}

.padding {
    position: absolute;
    left: 20vw;
    top: 20vh;
}
.padding2 {
    position: absolute;
    left: 65vw;
    top: 20vh;
}
.padding3 {
    position: absolute;
    left: 43vw;
    top: 55vh;
}

.resize {
    border-radius: 50%;
    opacity: 0.85;
    animation: shrink 2s;
    animation-fill-mode: forwards;
}

.gone {
    display: none;
    height: 1px;
}

@keyframes moveO {
    from {
        left: 20vw;
        top: 20vh;
        opacity: 1;
        width: 30vh;
    }
    to {
        left: 3vw;
        top: 3vh;
        opacity: 0;
        width: 10vh;
    }
}

@keyframes moveBackO {
    from {
        left: 3vw;
        top: 3vh;
        opacity: 1;
        width: 10vh;
    }
    to {
        left: 20vw;
        top: 20vh;
        opacity: 0;
        width: 30vh;
    }
}

@keyframes moveP {
    from {
        left: 65vw;
        top: 20vh;
        opacity: 1;
        width: 30vh;
    }
    to {
        left: 3vw;
        top: 3vh;
        opacity: 0;
        width: 10vh;
    }
}

@keyframes moveBackP {
    from {
        left: 3vw;
        top: 3vh;
        opacity: 1;
        width: 10vh;
    }
    to {
        left: 65vw;
        top: 20vh;
        opacity: 0;
        width: 30vh;
    }
}

@keyframes moveE {
    from {
        left: 43vw;
        top: 55vh;
        opacity: 1;
        width: 30vh;
    }
    to {
        left: 3vw;
        top: 3vh;
        opacity: 0;
        width: 10vh;
    }
}

@keyframes moveBackE {
    from {
        left: 3vw;
        top: 3vh;
        opacity: 1;
        width: 10vh;
    }
    to {
        left: 43vw;
        top: 55vh;
        opacity: 0;
        width: 30vh;
    }
}

@keyframes fadein {
    from { opacity: 0 }
    to { opacity: 0.75 }
}

@keyframes fadeout {
    from { opacity: 0.75 }
    to { opacity: 0 }
}

@keyframes grow {
    from { width: 10vh;
        height: 10vh; }
    to { width: 12vh;
        height: 12vh; }
}

@keyframes icongrow {
    from { width: 30vh;
        height: 30vh;
        font-size: 5vh;}
    to { width: 32vh;
        height: 32vh;
        font-size: 10vh;} 
}

@keyframes icontextgrow {
    from { padding-top: 12vh;
        padding-bottom: 12vh;
        font-size: 5vh;}
    to { padding-top: 12vh;
        padding-bottom: 13vh;
        font-size: 6vh;} 
}

@keyframes vanish {
    from { opacity: 0.75 }
    to { opacity: 0 }
}

@keyframes textgrow {
    from { font-size: 6vh;}
    to { font-size: 7vh; }
}

@keyframes textshrink {
    from { font-size: 7vh; }
    to { font-size: 6vh; }
}